---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ProjectArrowCard from "@components/ProjectArrowCard.astro";
import BlogArrowCard from "@components/BlogArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.year.valueOf() - a.data.year.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>

    <section class="animate space-y-6">
      <div class="flex flex-wrap gap-y-2 items-center justify-between">
        <h5 class="font-semibold text-black dark:text-white">
          Últimas publicaciones
        </h5>
        <Link href="/blog">
          Ver todas
        </Link>
      </div>
      <ul class="flex flex-col gap-4">
        {blog.map(post => (
          <li>
            <BlogArrowCard entry={post} />
          </li>
        ))}
      </ul>
    </section>

    <hr class="my-8 border-t-2 border-gray-200 dark:border-gray-700" />

    <div class="space-y-16">
      <section>
        <article class="space-y-4">    
          <h4 class="animate font-semibold text-black dark:text-white">
            Hola, soy David <span class="text-xl">👋🏻</span> 
          </h4>
          <p class="animate">
            Soy un apasionado desarrollador de software con más de 10 años de experiencia.
            Me encanta trabajar con tecnologías como Node.js, React, Angular, Express.js y MongoDB,
            aunque también disfruto explorando otras herramientas y lenguajes que me permitan crear
            soluciones eficientes y escalables.
          </p>
          <p class="animate">
            A lo largo de los años, he participado en proyectos de todo tipo, desde pequeñas
            aplicaciones hasta plataformas más complejas basadas en microservicios y autenticación
            con OAuth2. Siempre busco desarrollar soluciones bien estructuradas, fáciles de mantener
            y mejorar con el tiempo.
          </p>
          <p class="animate">
            Además, disfruto compartiendo lo que aprendo en mi blog, donde hablo sobre tecnología,
            nuevas tendencias y los desafíos del desarrollo de software.
          </p>
          <p class="animate">
            Si necesitas ayuda con un proyecto o simplemente quieres compartir ideas, ¡estaré encantado de charlar!
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Experiencia
          </h5>
          <Link href="/work">
            Ver todo
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Proyectos recientes
          </h5>
          <Link href="/projects">
            Ver todo
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ProjectArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          No dudes en contactarme
        </h5>
        <article>
          <p>
            Si alguna de mis reflexiones te resulta interesante, tienes alguna pregunta
            o simplemente quieres charlar sobre desarrollo y tecnología, estaré encantado
            de escucharte. No dudes en contactarme, siempre es un placer compartir ideas juntos. 🚀
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external={true} aria-label={`${SITE.NAME} en ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Correo electrónico ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
